<!-- A Front-end Design by Tharun K -->
<!DOCTYPE html>
<html>
    <head>
        <title>DSCE | Welcome</title>
        <meta charset="UTF-8">
        <meta name="keywords" content="dsce,dayananda,sagar,college,of,engineering,faculty,database,contact,faculties,mini,project">
        <meta name="author" content="Tharun K">
        <meta name="viewport" content="width=device-width,initial-scale=1.0">
        <meta name="description" content="A faculty contact Database">
       <!--   bootstrap css   -->
       <!-- <link rel="stylesheet" href="/css/bootstrap.css"/> -->
        <link rel="stylesheet" href="/css/style.css"/>
        
        
        

        
    </head>
      <body>

          
          <header> 
              <img src="/img/logo.gif" >
              
                  
                  <div id="branding">
                     <h1>Faculty-Communication</h1>
                  </div>
                      <nav>
                        <ul>
                          <li><a href="/">Home</a></li>
                          <li><a href="/users/register">Register</a></li>
                          <li><a href="/users/about">About </a></li>
                          <li><a href="/users/contactus">Contact Us</a></li>
                        </ul>  
                     </nav>
              
          </header>
          
          {{{body}}}
      </body>
</html>