ABOUT
<!-- A Front-end Design by Tharun K -->

         
          
          <section id="showcase_about">
            <div class="container">
              <h1>D  S  I</h1>
                <pre>
                <p>   L  i  v  e    T  h  e    D  r  e  a  m</p>
                </pre>
            </div>
          </section><br/>
          
          <section id="about">
            <div class="container">
               <article>
                   <h3>About Us</h3>
                   <p><i>Front-end Webpage Design by </i></p>
                   
                   <address>
                       Tharun K,<br/>
                       3rd Sem,<br/>
                       USN:1DS16CS114,<br/>
                       DSCE<br/>
                   </address>
                </article>
            
          
          <aside class="aside">
              <h3>A Mini Project</h3>
              <h4>Team Members</h4>
              <p>
                  Tharun K - 1DS16CS114<br/>
                  Vismay B Anand - 1DS16CS***<br/>
                  Prathviraj - 1DS16CS***<br/>
                  Ruthwik H Param - 1DS16CS***<br/>
              <p>
              
          </aside>          
              </div>
          </section>
          
          <footer class="fabout">
              <p><a href="contactus.html">Contact Us </a>for any Queries or to Report a bug </p>
          </footer>
    