
<%# A Front-end Design by Tharun K #%>

   

<html>
    
    <head>
        <title>DSCE | Welcome</title>
        <meta charset="UTF-8">
        <meta name="keywords" content="dsce,dayananda,sagar,college,of,engineering,faculty,database,contact,faculties,mini,project">
        <meta name="author" content="Tharun K">
        <meta name="viewport" content="width=device-width,initial-scale=1.0">
        <meta name="description" content="A faculty contact Database">
        
        <link rel="stylesheet" href="/css/style.css" type="text/css" />
    </head>
    
    <body>
      <% include partials/layout.ejs %>      
          
<section id="showcase_about">
    <div class="container">
      <h1>D  S  I</h1>
        <pre>
        <p>   L  i  v  e    T  h  e    D  r  e  a  m</p>
        </pre>
    </div>
  </section><br/>
  
  <section id="about">
    <div class="container">
       <article>
           <h3>About Us</h3>
           <p><i>Front-end Webpage Design by </i></p>
           
           <address>
               Tharun K,<br/>
               3rd Sem,<br/>
               USN:1DS16CS114,<br/>
               DSCE<br/>
           </address>
        </article>
    
  
  <aside class="aside">
      <h3>A Mini Project</h3>
      
      <p>
          Tharun K - 1DS16CS114<br/>
          
      <p>
      
  </aside>          
      </div>
  </section>
  
  <footer class="fabout">
      <p><a href="/users/contactus">Contact Us </a>for any Queries or to Report a bug </p>
  </footer>

</body>
</html>