CONTACTUS
<!-- A Front-end Design by Tharun K -->

      <body>
          
          <header> 
              
          <section id="showcase_about">
            <div class="container">
              <h1>D  S  I</h1>
                <pre>
                <p>   L  i  v  e    T  h  e    D  r  e  a  m</p>
                </pre>
            </div>
          </section>
          
          <section id="about">
            <div class="container">
               <article>
                   <h3>Contact Us</h3>
                   
                   
                   <address id="a1">
                       Tharun K, &#35;Web-Design<br/>
                       3rd Sem,<br/>
                       USN:1DS16CS114,<br/>
                       tharun.rocky14@gmail.com<br/>
                       DSCE<br/>
                   </address>
                   
                   <!-- <address id="a2">
                       Vismay B Anand,<br/>
                       3rd Sem,<br/>
                       USN:1DS16CS***,<br/>
                       example@example.com<br/>
                       DSCE<br/>
                   </address>
                   
                   <address id="a3">
                       Prathviraj,<br/>
                       3rd Sem,<br/>
                       USN:1DS16CS***,<br/>
                       example@example.com<br/>
                       DSCE<br/>
                   </address>
                   
                   <address id="a4">
                       Ruthwik H Param,<br/>
                       3rd Sem,<br/>
                       USN:1DS16CS***,<br/>
                       example@example.com<br/>
                       DSCE<br/>
                   </address>
                   
                   -->
                </article>
                <aside class="caside">
              <h3>A Mini Project</h3>
              <h4>Team Members</h4>
              <p>
                  Tharun K - 1DS16CS114<br/>
                  Vismay B Anand - 1DS16CS***<br/>
                  Prathviraj - 1DS16CS***<br/>
                  Ruthwik H Param - 1DS16CS***<br/>
              <p>
              
               </aside> 
                
            
          
                   
              </div>
          </section>
          
          <footer class="fcontactus">
              <p><span class="fconatctusspan"> ThankYou </span>For Checking...</p>
          </footer>
      