


<html>
    
    <head>
        <title>DSCE | Welcome</title>
        <meta charset="UTF-8">
        <meta name="keywords" content="dsce,dayananda,sagar,college,of,engineering,faculty,database,contact,faculties,mini,project">
        <meta name="author" content="Tharun K">
        <meta name="viewport" content="width=device-width,initial-scale=1.0">
        <meta name="description" content="A faculty contact Database">
        
        <link rel="stylesheet" href="/css/style.css" type="text/css" />
    </head>
    
    <body>
      <% include partials/layout.ejs %>
<section id="showcase_about">
    <div class="container">
      <h1>D  S  I</h1>
        <pre>
        <p>   L  i  v  e    T  h  e    D  r  e  a  m</p>
        </pre>
    </div>
  </section>
  
  
  <section id="login">
      <div class="containerlogin">
        
          <aside id="loginal">
               <h2>Welcome <span style="color:aqua;"><%= user.name %></span></h2>
               <h3>Go to</h3>
               <ul></ul>
                  <li><a href="/users/chat" class="list">ChatRoom</a></li>
                  <li><a href="/users/home" class="list">Search Faculties</a></li>
                  <li><a href="/users/mail" class="list">Mail Faculties</a></li>
                  <hr/><br/>
                  <li><a href="/users/profileu" class="list">Update your Profile</a></li>
                  <li><a href="/users/profilev" class="list">View your Profile</a></li>
               </ul>
          </aside>
       
       
       <article id="articleS">
         <h3>Search For The Required Faculty/Group Of Faculty</h3> 
          <p>Search For a Specific Field</p>
          <form method="GET" action="home">
              <input id="mysearch" name="search" type="search" placeholder="Any Valid Field"/>
              <input id="search" type="submit" ></input>
          </form><br/>
          <form >
         <%#Search faculty details by:<br/>
           <select id="loginselect" name = "Search faculty details by">
               <option value="A">--SELECT-- </option>option>
               <option value="B">Designation</option>
               <option value="C">Department</option>
               <option value="D">Name</option>
               <option value="I">Lab</option>
               <option value="E">1st year faculty</option>
               <option value="F">2nd year faculty</option>
               <option value="G">3rd year faculty</option>
               <option value="H">4th year faculty</option>
            </select>  
            <input id="submit" type="Submit" value="Submit"> %> 
         </form>
         

          </section>
       </article>
      </div>
      
       
  
  <footer class="flogin">
      <p><a href="contactus.html">Contact Us </a>for any Queries or to Report any bug </p>
  </footer>

</body>
</html>