

<aside id="mailal" >
                       <h3>Go to</h3>
                       <ul>
                          <li><a href="/users/chat" class="list">ChatRoom</a></li>
                          <li><a href="/users/home" class="list">Search Faculties</a></li>
                          <li><a href="/users/mail" class="list">Mail Faculties</a></li>
                          <hr/><br/>
                          <li><a href="/users/profileu" class="list">Update your Profile</a></li>
                          <li><a href="/users/profilev" class="list">View your Profile</a></li>
                       </ul>
                     </aside>

<div id="mailS">
    <h2>Mail To <strong>Individuals</strong> or a Particular <strong>group</strong></h2>
                 <h3>Search For The Required Faculty/Group Of Faculty</h3> 
                  <p>Search For a Specific Field</p>
                  <form>
                      <input id="mysearch" name="searchitem" type="search" placeholder="Any Valid Field"/>
                      <button id="search" type="button" value="Search" name="searchtext">Search</button>
                  </form><br/>
                  <form >
                 Search faculty details by:<br/>
                   <select id="loginselect" name = "Search faculty details by">
                       <option value="A">--SELECT-- </option>option>
                       <option value="B">Designation</option>
                       <option value="C">Department</option>
                       <option value="D">Name</option>
                       <option value="I">Lab</option>
                       <option value="E">1st year faculty</option>
                       <option value="F">2nd year faculty</option>
                       <option value="G">3rd year faculty</option>
                       <option value="H">4th year faculty</option>
                    </select>  
                    <input id="submit" type="Submit" value="Submit">
                 </form>
               </div>

    